@tailwind base;
@tailwind components;
@tailwind utilities;


.big-input{
    @apply w-1/2 my-[10px] font-noto h-[66px] border border-light_gray pl-[20px];
}

select {
    @apply text-gray-400;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../../assets/img/arrow.png");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) center;
}

.big-textarea{
    @apply w-full  my-[10px] font-noto border border-light_gray pl-[20px] pt-[10px]
}

.form-cta{
    @apply border border-black px-[20px] py-[10px] hover:bg-black hover:text-white rounded-3xl
}
